.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}


.alert-primary{
  background-color: lighten($primary,40);
  border-color:lighten($primary,20);
  color: darken($primary,25);
}

.alert-primary .alert-link {
  color: darken($primary,35);
}


.alert-secondary {
  background-color: lighten($light-grey,5);
  border-color: darken($light-grey,10);
  color: darken($dark-grey,10);
}

.alert-secondary .alert-link {
  color: darken($dark-grey,20);
}


.alert-success {
  background-color: lighten($success-green,35);
  border-color:lighten($success-green,20);
  color: darken($success-green,25);
}


.alert-success .alert-link {
  color: darken($success-green,35);
}



.alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6d5ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: $warn-orange;
  border-color: $warn-orange;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7ecb5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9b9;
}

.alert-danger .alert-link {
  color: #843534;
}


.alert-dark{
  background-color: #92CFF0;
  border-color: #6AB7E1;
  color: #494949;
}

.alert-dark .alert-link {
  color: #2F2F2F;
}


.alert-light {
  background-color: #F6F7F9;
  border-color: #CACDCF;
  color: #666666;
}

.alert-light .alert-link {
  color: #2F2F2F;
}

