.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-heading {
  color: inherit;
}

.alert-link {
  font-weight: bold;
}

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit;
}


.alert-primary{
  background-color: lighten($primary,35);
  border-color:lighten($primary,20);
  color: darken($primary,20);
}

.alert-primary .alert-link {
  color: darken($primary,30);
}


.alert-secondary {
  background-color: lighten($light-grey,5);
  border-color: darken($light-grey,10);
  color: darken($dark-grey,10);
}

.alert-secondary .alert-link {
  color: darken($dark-grey,20);
}


.alert-success {
  background-color: lighten($success-green,35);
  border-color:lighten($success-green,20);
  color: darken($success-green,25);
}


.alert-success .alert-link {
  color: darken($success-green,35);
}



.alert-info {
  background-color:lighten($info-blue,48);
  border-color:lighten($info-blue,35);
  color:darken($info-blue,15);
}


.alert-info .alert-link {
  color:darken($info-blue,20);
}



.alert-warning {
  background-color: lighten($warn-orange,38);
  border-color: lighten($warn-orange,30);
  color: darken($warn-orange,20);
}


.alert-warning .alert-link {
  color: darken($warn-orange,22);
}



.alert-danger {
  background-color: lighten($red,50);
  border-color: lighten($red,40);
  color: darken($red,10);
}

.alert-danger .alert-link {
  color: darken($red,15);
}



.alert-dark{
  background-color: lighten($dark-grey,35);
  border-color: lighten($dark-grey,15);
  color: darken($dark-grey,35);
}

.alert-dark .alert-link {
  color: darken($dark-grey,40);
}




.alert-light {
  background-color: $lightest-cloud;
  border-color: darken($lightest-cloud,10);
  color: darken($lightest-cloud,55);
}

.alert-light .alert-link {
  color: darken($lightest-cloud,65);
}

