

@import "./abstracts/variables";


/* Buttons */

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0.5em 1em;

}

.btn.focus, .btn:focus {
box-shadow: 0 0 0 2px rgba(73,161,184,.25)
}

.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.btn-primary:hover {
   color: $white;
   background-color: darken($primary,5);
   border-color: darken($primary,5);
}

.btn-primary.active, 
.btn-primary:active, 
.show>.btn-primary.dropdown-toggle {
    color: $white;
    background-color: $primary;
    background-image: none;
    border-color: $primary;
}

.btn-success {
    color: $white;
    background-color: $success-green;
    border-color: $success-green;
}

.btn-success:hover {
    color: $white;
    background-color: darken($success-green,8);
    border-color: darken($success-green,8);
}


.btn-danger {
    color: $white;
    background-color: $red;
    border-color: $red;
}

.btn-danger:hover {
    color: $white;
    background-color: darken($red,8);
    border-color: darken($red,8);
}

.btn-warning {
    color: $white;
    background-color: $warn-orange;
    border-color: $warn-orange;
}

.btn-warning:hover {
    color: $white;
    background-color: darken($warn-orange,8);
    border-color: darken($warn-orange,8);
}

.btn-info {
    color: $white;
    background-color: $info-blue;
    border-color: $info-blue;
}

.btn-info:hover {
    color: $white;
    background-color: darken($info-blue,8);
    border-color: darken($info-blue,8);
}


.btn-secondary{
  color: $black;
  background-color: $light-grey;
  border-color: $light-grey;
}

.btn-secondary:hover {
   color:$black;
   background-color: darken($light-grey,8);
   border-color: darken($light-grey,8);
}


.btn-light {
  color: $black;
  background-color: lighten($light-grey,5);
  border-color: lighten($light-grey,5);
}

.btn-light:hover {
  color: $black;
  background-color: $light-grey;
  border-color: $light-grey;  
}

.btn-dark {
  color: $white;
  background-color:  darken($dark-grey,8);
  border-color: darken($dark-grey,8); 
}

.btn-dark:hover {
  color: $white;
  background-color: darken($dark-grey,20);
  border-color: darken($dark-grey,20);  
}









.btn-outline-primary {
  background-color: $white;
  border-color: $primary;
  color: $primary;
}

.btn-outline-primary:hover {
   color: $white;
   background-color: $primary;
   border-color: $primary;
}

.btn-outline-primary.active, 
.btn-outline-primary:active, 
.show>.btn-outline-primary.dropdown-toggle {
   color: #fff;
   background-color: lighten($primary,5);
   border-color: lighten($primary,5);
   opacity: 0.8;
}


.btn-outline-secondary {
  background-color: transparent;
  border-color: darken ($light-grey,20);
  color: black;
}

.btn-outline-secondary:hover {
   background-color: $light-grey;
   border-color: $light-grey;
   color: $black;
}


.btn-outline-success {
  background-color: transparent;
  border-color: $success-green;
  color: $success-green;
}

.btn-outline-success:hover {
   background-color: $success-green;
   border-color: $success-green;
   color:$white;
}


.btn-outline-danger {
  background-color: transparent;
  border-color: $red;
  color: $red;
}

.btn-outline-danger:hover {
   background-color: $red;
   border-color: $red;
   color:$white;
}


.btn-outline-warning{
  background-color: transparent;
  border-color: $warn-orange;
  color: $warn-orange;
}

.btn-outline-warning:hover {
   background-color: $warn-orange;
   border-color: $warn-orange;
   color:$white;
}


.btn-outline-info{
  background-color: transparent;
  border-color: $info-blue;
  color: $info-blue;
}

.btn-outline-info:hover {
   background-color: $info-blue;
   border-color: $info-blue;
   color:$white;
}


.btn-outline-light {
  color: $black;
  background-color: transparent;
  border-color: $light-grey;
}


.btn-outline-light:hover {
  color: $black;
  background-color:darken($light-grey,8);  
  border-color: darken($light-grey,8);  
}


.btn-outline-dark {
  color:$dark-grey;
  background-color: transparent;
  border-color:$dark-grey;
}


.btn-outline-dark:hover {
  color: $white;
  background-color: $dark-grey;
  border-color: $dark-grey;  
}


