
.card-primary {
    background-color: $primary;
}

.card-secondary {
    background-color: $light-grey;
}

.card-success {
    background-color: $success-green;
}

.card-info {
    background-color: $info-blue;
}

.card-warning {
    background-color: $warn-orange;
}

.card-danger {
    background-color: $red;
}


.card-primary, .card-success, .card-info, .card-warning, .card-danger {
    border: none;
}



.card-outline-primary {
  border-color: $primary;
}

.card-outline-secondary {
  border-color: $light-grey;  
}

.card-outline-success {
  border-color: $success-green; 
}

.card-outline-info {
  border-color: $info-blue;
}

.card-outline-warning {
  border-color: $warn-orange; 
}

.card-outline-danger {
  border-color: $red; 
}

.nav-tabs .nav-link.active{
  box-shadow: 0px;
}



.w-20 {
  width: 20rem;
}

.w-23 {
  width: 23rem;
}

.card {
border-radius: 0rem;
}

.card-img-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.card .card-title{
  font-weight: 700;
}

.card-title{
  color: darken($dark-grey,5);
}

.card-title:hover {
  color:  $primary;
}


.card-block {
  padding: 1.6rem;
}

.card-primary {
  background-color: $primary;
}

.card .card-text {
  font-weight: 100;
}

.card-header {
  background-color: $lightest-cloud;
  border-top: 1px solid rgba(0,0,0,.125);
  border-bottom: 0px solid rgba(0,0,0,.125);
}

.card-header:first-child {
  border-radius: 0em;
}

.card-link {
  color: $primary;
}

.card-body {
  padding: 1em;
}



