
.deepbluegrad {
	background: linear-gradient(rgba(20,66,73,1), rgba(7,102,127,1));
}

.darkbluegrad {
	background: linear-gradient(rgba(7,102,127,1), rgba(11,123,151,1));
}

.primarybluegrad {
	background: linear-gradient(rgba(11,123,151,1), rgba(59,157,182,1));
}

.lightbluegrad {
	background: linear-gradient(rgba(59,157,182,1), rgba(145,203,211,1));
}

.lightgreenbluegrad{
	background: linear-gradient(rgba(167,214,173,1), rgba(145,203,211,1));
}

.lightbluegreengrad {
	background: linear-gradient(rgba(145,203,211,1), rgba(167,214,173,1));
}

.lightgreengrad {
	background: linear-gradient(rgba(167,214,173,1), rgba(99,169,132,1));
}

.greengrad{
	background: linear-gradient(rgba(99,169,132,1), rgba(64,146,125,1));
}

.darkgreengrad {
	background: linear-gradient(rgba(64,146,125,1), rgba(47,107,94,1));
}

.deepgreengrad {
	background: linear-gradient(rgba(47,107,94,1), rgba(35,72,61,1));
}

.dustybluegrad {
	background: linear-gradient(rgba(145,203,211,1), rgba(20,66,73,1));
}

.bluegreengrad {
	background: linear-gradient(rgba(7,102,127,1), rgba(167,214,173,1));
}

.darkbluegreengrad {
	background: linear-gradient(rgba(11,123,151,1), rgba(35,72,61,1));
}

.primarybluegreengrad {
	background: linear-gradient(rgba(59,157,182,1), rgba(64,146,125,1));
}

.lightbluewhitegrad {
	background: linear-gradient(rgba(145,203,211,1), rgba(255,255,255,1));
}

.lightgreenwhitegrad {
	background: linear-gradient(rgba(167,214,173,1), rgba(255,255,255,1));
}


