
@import "./abstracts/variables";

.well--air {
	color: $deep-ocean;
}

.well--water {
	color: $ocean-blue;
}

.well--nourishment {
	color: $water-blue;
}

.well--light {
	color: $light-blue;
}

.well--fitness {
	color: $icy-blue;
}

.well--comfort {
	color: $light-grass;
}

.well--mind {
	color: $grassy-green;
}

.well--sound {
	color: $sea-green;
}

.well--community {
	color: $deep-green;
}

.well--black {
	color: $darkest-green;
}

