
@import "./abstracts/variables";


nav {
	background: transparent; 
	text-align: center;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 2px;
}


.nav-link.active {
	color: $white;
  background-color: $primary;
}

.nav-link.disabled {
  color: darken($light-grey,20);
}

/*nav menu button*/

.navbar-toggler {
	border: none;
	background-color: none;
}

.navbar-toggler-icon span {
	background-color: $white;
}


.navbar-nav li {
	padding-right: 1em;
}

.navbar {
  background: $white;
}


/* Navigation */
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    padding-top: 1rem;
}


.nav-link a{
  color: $dark-grey;
}

.nav-link:hover a{
  opacity: 0.8;
}




/* Navs */

.nav-tabs .nav-link {
  color: $dark-grey;
}

.nav-tabs .nav-link:hover {
  color: darken($dark-grey,25);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: $primary;
    background-color: $white;
    border-color: transparent;
    box-shadow: none;
}

.nav-tabs {
  border-bottom: 1px solid transparent;
}

.nav-pills .nav-link.active, .nav-pills .nav-item.show .nav-link {
  background-color:$primary;
  color: white;
 }

/* Pagination */


.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 2;
  color: $white;
  background-color: $primary;
  border-color: $primary;
}

.page-item.disabled .page-link {
  color: darken($light-grey,20);
  pointer-events: none;
  cursor: not-allowed;
  background-color: $white;
  border-color: $light-grey;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: $primary;
  background-color: $white;
  border: 1px solid $light-grey;
}

.page-link:focus, .page-link:hover {
  color: $white;
  text-decoration: none;
  background-color: $primary;
  border-color: $light-grey;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}

.pagination-lg .page-item:first-child .page-link {
  border-bottom-left-radius: 0.3rem;
  border-top-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-bottom-right-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.pagination-sm .page-item:first-child .page-link {
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
}