$white: #ffffff;
$black: #000000;

$indigo: #38138E;
$red: #D85B56;
$blue: #6AB7E1;
$creme: #FFFAF0;


$red:#C40B07;  /*red*/ 
$success-green:#5CB85C;
$warn-orange:#EDA509;
$info-blue: #27B0A7; 


$platinum: #555;
$gold: #C48E29;
$silver: #ccc;


$primary: #F5820F;


$dark-grey: #626262;
$light-grey:#E5E6E7;
$lightest-cloud:#F6F7F9;


/* Light Greys */

.lightestcloud {
	background-color: $lightest-cloud;
}

.lightcloud {
	background-color: lighten($light-grey, 5);
}

.cloudygrey {
	background-color: $light-grey;
}

.darkcloud {
	background-color: darken($light-grey, 10);
}

.darkestcloud {
	background-color: darken($light-grey, 20);
}





/* Dark Grey */

.lightsmoke {
	background-color: lighten($dark-grey, 20);
}

.smoke {
	background-color: lighten($dark-grey, 10);
}

.charcoal {
	background-color: $dark-grey;
}

.burntcharcoal {
	background-color: darken($dark-grey, 10);
}

.darkcharcoal {
	background-color: darken($dark-grey, 20);
}







/* WELL Blue */

.lightestwellblue {
	background-color: lighten($primary, 20);
}

.lightwellblue {
	background-color: lighten($primary, 10);
}

.wellblue {
	background-color: $primary;
}

.darkwellblue {
	background-color: darken($primary, 10);
}

.darkestwellblue {
	background-color: darken($primary, 20);
}





// Variables for Include Media //
$color-red-error: rgb(185, 74, 72) !default;
$color-grey-arrow: rgba(204, 204, 204, 0.2) !default;

$width-default: 220px !default; // 3 960px-grid columns

$zindex-select-dropdown: 1060 !default; // must be higher than a modal background (1050)

/* Placeholder text color
$input-color-placeholder: #999 !default;*/


